[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "roptions"]
	path = roptions
	url = https://github.com/cran/roptions
[submodule "rportfolio"]
	path = rportfolio
	url = https://github.com/anuragagrawaal/rportfolio
